.fixed-size {
    width: 350px;
    /* Set the desired width */
    height: 350px;
    /* Set the desired height */
    object-fit: scale-down;
    /* This will ensure the image covers the given dimensions */
}